@base
chrony
wget 
git 
net-tools 
bind-utils 
iptables-services 
bridge-utils 
bash-completion 
kexec-tools
sos 
psacct
nfs-utils
elinks
telnet
rsync
open-vm-tools
fuse
fuse-libs
xmlsec1
xmlsec1-openssl
python-pytoml
grub2-pc
grub2-pc-modules
libdnet
libtool-ltdl
libmspack

