{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "{{pv_name}}",
    "labels": {
      "app": "{{pv}}",
      "project": "{{project.name}}"
    }
  },
  "spec": {
    "capacity": {
        "storage": "{{volsize}}"
    },
    "accessModes": [ "{{accessmodes}}" ],
    "nfs": {
        "path": "{{ nfs_directory  }}",
        "server": "{{ nfs_hostname }}"
    },
    "persistentVolumeReclaimPolicy": "Retain"
  }
}
