[OSEv3:children]
masters
nodes
etcd
lb
{% if deploy_cns %}
glusterfs
{% endif %}

# Set variables common for all OSEv3 hosts
[OSEv3:vars]

##### Install options ######

openshift_deployment_type=openshift-enterprise

# Version to deploy
openshift_image_tag=v{{ ocp_version }}
openshift_cockpit_deployer_version=v{{ ocp_version }}
#openshift_pkg_version={{ ocp_version }}

# ODIE Manages these directly so disable the safeties
openshift_disable_check=disk_availability,docker_storage,memory_availability,docker_image_availability

osm_use_cockpit=false
openshift_master_cluster_method=native

# default project node selector
osm_default_node_selector='region=primary'

openshift_clock_enable=true
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'

openshift_master_default_subdomain={{ default_subdomain }}

openshift_examples_modify_imagestreams=true
openshift_install_examples=false

# Must be set to use NFS
openshift_enable_unsupported_configurations=True

# Introduced in 3.7, will interfere with reference app deploy by claiming PV
ansible_service_broker_install=False
openshift_enable_service_catalog=false

###### Container Native Storage #######
{% if deploy_cns %}
openshift_storage_glusterfs_wipe=true
openshift_storage_glusterfs_heketi_image=rhgs3/rhgs-volmanager-rhel7
openshift_storage_glusterfs_heketi_image=rhgs3/rhgs-volmanager-rhel7
openshift_storage_glusterfs_timeout=500
glusterfs_heketi_image=rhgs3/rhgs-volmanager-rhel7
{% endif %}

###### Registry #######
# deployment_subtype=registry

{% for host in groups['registry'] %}
openshift_web_console_prefix='{{ host }}:5000/openshift3/ose-'
oreg_url={{ host }}:5000/openshift3/ose-${component}:${version}
openshift_docker_additional_registries={{ host }}:5000
openshift_docker_insecure_registries={{ host }}:5000
openshift_logging_image_prefix={{ host }}:5000/openshift3/
openshift_logging_image_version=v{{  ocp_short_version }}
openshift_metrics_image_prefix={{ host }}:5000/openshift3/
openshift_metrics_image_version=v{{  ocp_short_version }}
{% endfor %}

openshift_hosted_registry_storage_kind=nfs
openshift_hosted_registry_storage_access_modes=['ReadWriteMany']
openshift_hosted_registry_storage_nfs_directory=/ocp
openshift_hosted_registry_storage_volume_name=registry
openshift_hosted_registry_storage_volume_size=30Gi

openshift_docker_blocked_registries=registry.access.redhat.com,docker.io

###### Certificates ######
{% if openshift_console_ca_file is defined and openshift_console_certfile is defined and openshift_console_keyfile is defined %}
openshift_master_named_certificates=[{"certfile": "{{ openshift_console_certfile }}", "keyfile": "{{ openshift_console_keyfile }}", "names": ["{{ groups['lb'] | join('","') }}"], "cafile": "{{ openshift_console_ca_file }}"}]
{% endif %}

{% if docker_registry_ca_file is defined and docker_registry_certfile is defined and docker_registry_keyfile is defined and default_subdomain is defined %}
openshift_hosted_registry_routetermination=reencrypt
openshift_hosted_registry_routehost=docker-registry-default.{{ default_subdomain }}
openshift_hosted_registry_routecertificates={"certfile": "{{ docker_registry_certfile }}", "keyfile": "{{ docker_registry_keyfile }}", "cafile": "{{ docker_registry_ca_file }}"}
{% endif %}

###### Security ######
{% if openshift_master_ldap_ca_file is defined %}
openshift_master_ldap_ca_file={{ openshift_master_ldap_ca_file }}
{% endif %}

{% if enable_audit_log == true %}
openshift_master_audit_config={"enabled": true, "auditFilePath": "/var/log/openpaas-oscp-audit/openpaas-oscp-audit.log", "maximumFileRetentionDays": 14, "maximumFileSizeMegabytes": 500, "maximumRetainedFiles": 5}
{% endif %}

{% for host in groups['lb'] %}
openshift_master_cluster_hostname={{ host }}
openshift_master_cluster_public_hostname={{ host }}
openshift_hosted_registry_storage_host={{ host }}
openshift_hosted_logging_storage_host={{ host }}
{% endfor %}

{% if false %}
# Metrics Enabled
openshift_metrics_cassandra_replicas={{ metrics_cassandra_replica_count }}

{%  if deploy_cns %}
openshift_metrics_cassandra_storage_type=dynamic
openshift_metrics_hawkular_hostname=hawkular-metrics.{{ default_subdomain }}
openshift_hosted_metrics_storage_volume_size={{ metrics_storage_volume_size | default('2Gi') }}
openshift_metrics_cassanda_pvc_storage_class_name={{ gluster_storage_class_name }}
storage_class_name={{ gluster_storage_class_name }}
{% if openshift_metrics_hawkular_ca_file is defined and openshift_metrics_hawkular_cert_file is defined and openshift_metrics_hawkular_key_file is defined %}
openshift_metrics_hawkular_ca={{ openshift_metrics_hawkular_ca_file }}
openshift_metrics_hawkular_cert={{ openshift_metrics_hawkular_cert_file }}
openshift_metrics_hawkular_key={{ openshift_metrics_hawkular_key_file }}
{% endif %}
{% else %}
openshift_metrics_cassandra_storage_type=emptydir


{% endif %}

{% else %}
# Metrics disabled -- forced
# https://github.com/openshift/openshift-ansible/issues/2553
{% endif %}


{% if false%}
# Logging Enabled

openshift_logging_elasticsearch_hostmount_path={{ logging_host_path }}
openshift_logging_elasticsearch_replica_count={{ logging_elasticsearch_replica_count }}

# Placeholders for rsyslog forwarding
#openshift_logging_fluentd_remote_syslog
#openshift_logging_fluentd_remote_syslog_host
#openshift_logging_fluentd_remote_syslog_port
#openshift_logging_fluentd_remote_syslog_severity=debug
#openshift_logging_fluentd_remote_syslog_facility=local0
#openshift_logging_fluentd_remote_syslog_remove_tag_prefix=''
#openshift_logging_fluentd_remote_syslog_tag_key
#openshift_logging_fluentd_remote_syslog_use_record=

# You may need to set this for a small laptop cluster
#openshift_logging_fluentd_cpu_request=1m
#openshift_logging_fluentd_memory_limit=512Mi

{% else %}
# Logging disabled -- forced
# https://github.com/openshift/openshift-ansible/issues/2553
{% endif %}

[masters]
{% for host in groups['masters'] %}
{{ host }}
{% endfor %}

[etcd]
{% for host in groups['etcd'] %}
{{ host }}
{% endfor %}

[infranode]
{% for host in groups['infra'] %}
{{ host }}
{% endfor %}

[lb]
{% for host in groups['lb'] %}
{{ host }}
{% endfor %}

[nodes]
{% for host in groups['masters'] %}
{{ host }} openshift_schedulable=True openshift_node_labels="{'region': 'primary'}" openshift_hostname="{{ host }}"
{% endfor %}

{% for host in groups['infra'] %}
{{ host }} openshift_node_labels="{'region': 'infra'}" openshift_hostname="{{ host }}"
{% endfor %}

{% for host in groups['nodes'] %}
 {# There is a bug if the ocp_inventory is executed multiple times #}
{%  if host not in groups['masters'] and host not in groups['infra'] %}
{{ host }} openshift_node_labels="{'region': 'primary', 'zone': '{{ hostvars[host].zone }}' }" openshift_hostname="{{ host }}"
{% endif %}
{% endfor %}


{% if deploy_cns %}
[glusterfs]
{% for host in groups['glusterfs'] %}
{{ host }} glusterfs_devices='["{{ disk_prefix }}c"]'
{% endfor %}

{% else %}
# Not enabling CNS due to insufficient CNS nodes
{% endif %}
