# Author:    nrevo
# Date:      2017-10-16
# Comments: custom override of app_config.cfg - additive
#########################################################################
# notes http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_06_02

: ${EAP_SERVICE_ACCOUNT_NAME:="eap-service-account"}
: ${POSTGRES_IMAGE_NAME:="odie/postgresql-95-rhel7-stig:latest"}
